*{
  color: #56789f;
  font-style: italic;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 600px;
  max-width: 700px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 10px 22px #a1b2c3;
}

.message-list {
  flex: 1;
  padding: 1.5rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background: #f8f9fa;
}

.message {
  position: relative;
  max-width: 75%;
  margin-bottom: 12px;
  border-radius: 10px;
}

.message.user {
  align-self: flex-end;
  text-align: right;
  padding: 5px;
  border: 1px solid #abc;
}

.message.model {
  padding: 5px 30px;
  background: linear-gradient(120deg, #f5f6f7, #a8b8c8);
}

.input-area {
  display: flex;
  padding: 15px;
}

input {
  flex: 1;
  padding: 15px;
  border-radius: 20px;
  border: 1px solid #abc;
}

button {
  margin-left: 15px;
  padding: 5px 15px;
  border-radius: 20px;
  border: 1px solid #abc;
  cursor: pointer;
}

button:hover {
  background-color: #a8b8c8;
}